.App {
  margin: 100px;
  display:flex;
}
select, input {
  font-size: 1.1rem;
}
select {
  width: 380px;
  height: 240px;
}
#selectedOpts {
  margin-top: 32px;
}
.searchField {
  input {
    width: 94%;
    height: 26px;
  }
}
option {
  padding: 2px 10px;
  height: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    background-color: rgba(153, 153, 153, 0.26);
  }

  &.fa-backward {
    //padding-left: 30px;
  }
}
input {
  padding: 2px 10px;
}
.fa {
  display: flex;
  flex-direction: row;
  &.fa-forward:before {
    float: right;
    color: #6d6565;
    font-size: 12px;
    padding-top: 5px;
  }
  &.fa-backward:before {
    color: #6d6565;
    font-size: 12px;
    padding-top: 5px;
    padding-right: 12px;
  }
}
